<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Generator PDF</title>
</head>
<body>
    <h1>Wybierz opcję </h1>
    <form action="/generate" method="post">
        <select name="option">
            <option value="stworz_dzialanie_ulamki">Działania ułamki</option>
            <option value="stworz_przyklad_pierwiastki">Przykłady pierwiastki</option>
            <option value="stworz_dzialanie_pierwiastek">Działania pierwiastki</option>
            <option value="stworz_rownanie_nierownosc">Równanie kwadratowe</option>
            <option value="stworz_uklad_rownan">Układ równań</option>
        </select>
        <button type="submit">Generuj PDF</button>
    </form>
</body>
</html>
